<nav class="navbar navbar-expand-sm head hover-overlay">
    <div class="container-fluid">
      <img src="./assets/emialLogo.jfif" alt=" Loading ">
      <a class="navbar-brand title" href="/Home">EMAIL Feedback System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/Home" >DashBoard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Emails</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="EmailSend()">Email Sent</a></li>
              <li><a class="dropdown-item" (click)="emailRespond()">Email Response</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""></a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  
  
  