<app-header></app-header>
<br>
<div style="display:flex;">
<div class="form-group col-md-6 search">
    <input type="text" class="form-control " placeholder="Search..." [(ngModel)]="filterTerm" filterText=searchText; />
</div>
<div style="margin-left:20px;"><input type="file" accept=".csv,.txt,.json,.xlxs" (change)="openFile($event)">
    <button (click)="onUpload()" class="btn btn-success">  Upload </button>
    <button class="btn btn-primary export" (click)="excelExport()">Export</button>
</div>
</div>
<div class="tb">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Sent body</th>
                <th scope="col">Sent date</th>
                <th scope="col">Reply Subject</th>
                <th scope="col">Reply Body</th>
                <th scope="col">Response</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of emaildata | paginate:{ itemsPerPage: tableSize, currentPage: page, totalItems: count} | filter:filterTerm ">
                <td>{{d.name}}</td>
                <td>{{d.email_id}}</td>
               
                
                <td>{{d.replied_date}}</td>
                <td>{{d.sent_mail_date}}</td>
                <td>{{d.mail_subject}}</td>
                <td>{{d.mail_body}}</td>
                <td>{{d.reply_subject}}</td>
                <td>{{d.reply_body}}</td>
                <td>{{d.reply_status}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <pagination-controls
     previousLabel="Prev"
      nextLabel="Next"
       (pageChange)="onTableDataChange($event)">
    </pagination-controls>